<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="/img/skillet-favicon.png"/> -->
        <title> <%= title %> </title>
        <!--Google Identity Services-->
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <!--Normalize-->
        <link rel="stylesheet" href="/css/normalize.css">
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <!--Google Fonts-->

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <%- include('../partials/errorMessage.ejs') %>
            <%- body %>
        </main>    
        <%- include('../partials/footer.ejs') %>
        <script src="/js/main.js"></script>
    </body>
</html>