<div class="container-fluid p-5 row">
    <h1>Class: <%= course.name %></h1>
    <section class="col-md-6">
        <h2>Roster <span class="text-muted h6"><%= students.length %> students</span></h2>
        <% if (students.length) { %>
            <ul>
                <% students.forEach(student => { %>
                    <li><%= student.firstName %> <%= student.lastName %></li>
                    <% })
                %>
            </ul>
            <%} else { %> 
                <p> Add some students to get started.</p>
            <%}
        %> 
    </section>
    <section class="col-md-6">
        <h3 class="h2 heading-with-btn-right">Job List</h3>
        <button type="button" class="btn btn-primary fa-solid fa-pencil" data-bs-toggle="modal" data-bs-target="#editJobListModal" aria-label="Edit the Job List"></button>
    </section>
</div>


<!-- Modal- Edit Job List -->
<div class="modal fade" id="editJobListModal" tabindex="-1" aria-labelledby="editJobListModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editJobListModalTitle">Edit Job List for <%=course.name %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="editJobListForm" class="text-center">
                <div id="allJobsDataListInputDiv-1" class="my-2">
                    <!--Add number label?-->
                    <input required name="jobList" class="form-control job-list-input" list="datalistOptions" placeholder="Type to search jobs..." aria-label="Select a job from the list">
                    <datalist id="datalistOptions">
                        <% allJobs.forEach(job => { %>
                            <option value="<%= job.title %>">
                            <% })
                        %>
                    </datalist>
                </div>
                <button type="button" class="fa-sharp fa-solid fa-circle-plus btn btn-outline-primary mt-2" id="add-job-input-btn" aria-label="Add another job"></button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="editJobListForm" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </div>
</div>

<script type="module" src="/js/coursePageFunctions.js"></script>